* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nova Square', sans-serif;    
}

body{
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 21%, rgba(6,84,170,1) 50%, rgba(3,148,213,1) 75%, rgba(0,212,255,1) 100%);
    display: flex;
}

.layout{
    border-color: white;
    border-style: groove;
    border-radius: 10px;
    padding: 30px;
    background-color: gray;
    flex-direction: column;
    display: flex;
}

button{
    margin-top: 20px;
    border-style: groove;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

.btn{
    margin-top: 20px;
    border-style: groove;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    margin-left: 20px;
}

input{
    width: 100%;
    outline: none;
}