* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nova Square', sans-serif;    
}



body{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 21%, rgba(6,84,170,1) 50%, rgba(3,148,213,1) 75%, rgba(0,212,255,1) 100%);
}

div{
  border-style: groove;
  border-color: black;
  border-radius: 10px;
  background-color: black;
  opacity: 0.7;
  color: white;
  padding: 30px;
  flex-direction: column;
  display: flex;
}

input{
  margin-top: 20px;
}

button{
  margin-top: 20px;
}